.section {
  padding: 88px 0 98px 0;
  background: radial-gradient(
    24.05% 24.05% at 50% 56.14%,
    rgb(14, 14, 14) 0%,
    rgb(14, 14, 14) 100%
  );
  position: relative;
  z-index: 10;
}

.section::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: url("/servicesBg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 21px;
  padding: 40px;
  max-width: 605px;
  margin-bottom: 40px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: rgba(197, 55, 32, 0);
  background-size: 100% 100%;
}

.item:hover {
  background: linear-gradient(90deg, #c53720 0%, rgba(197, 55, 32, 0) 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  padding: 40px;
  max-width: 605px;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  clip-path: polygon(
    10% 0%,
    100% 0%,
    100% 0%,
    100% 0%,
    100% 100%,
    0% 100%,
    0% 100%,
    0% 25%
  );
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #c53720 0%, rgba(197, 55, 32, 0) 100%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.item:hover::before {
  transform: scaleX(1);
}

.item:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.itemImage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 125px;
  width: 100%;
  height: 125px;
  background-color: #1d1d1d;
  padding: 13px 25px;
  position: relative;
  overflow: hidden;
  border: 4px solid #c53720;
  clip-path: polygon(
    30px 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 30px
  );
}

.itemImage::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -15px;
  width: 50px;
  height: 4px;
  background: #c53720;
  transform: rotate(-45.5deg);
  z-index: -1;
}

.itemImage::after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: -15px;
  width: 50px;
  height: 4px;
  background: #c53720;
  transform: rotate(-45.5deg);
  z-index: -1;
}

.listImage {
  position: relative;
  z-index: 1;
}

.listImage::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: -15px;
  position: absolute;
  background: url("/serviceMechBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.listImage::after {
  content: "";
  width: 170px;
  height: 155px;
  left: 0;
  top: 65%;
  position: absolute;
  background: url("/servicesRect.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.afterBlock {
  position: relative;
}

.afterBlock::after {
  content: "";
  width: 85px;
  height: 80px;
  left: 60%;
  top: 0;
  position: absolute;
  background: url("/servicesRect.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transform: rotate(35deg);
}

@media (max-width: 1130px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 1105px) {
  .listImage::before {
    top: 48px;
  }
}

@media (max-width: 479px) {
  .item {
    padding: 15px;
    flex-wrap: wrap;
  }
  .itemImage {
    width: 120px;
    height: 120px;
  }
  .listImage::after {
    width: 90px;
    height: 85px;
  }
  .listImage {
    width: 75%;
  }
  .listImage::before {
    width: 75%;
    top: 33px;
  }
}
